/* Redefinição de CSS */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  /* Container */
  .container {
    width: 100%;
    max-width: 1536px; /* Aumentado de 960px para 1536px */
    margin: 0 auto;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    background-color: #fff;
  }
  
  .navbar h1 {
    font-size: 44.8px; /* Aumentado de 28px para 44.8px */
    font-weight: bold;
    color: black;
    text-decoration: none;
    
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 16px;
  }
  
  .menu a {
    text-decoration: none;
    color: #000;
  }
  
  .menu button {
    background-color: #000;
    color: #fff;
    padding: 12.8px 25.6px; /* Aumentado de 8px para 12.8px e de 16px para 25.6px */
    border-radius: 6.4px; /* Aumentado de 4px para 6.4px */
  }
  
  /* Info */
  .info {
    margin-top: 57.6px; /* Aumentado de 36px para 57.6px */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info h1 {
    font-size: 57.6px; /* Aumentado de 36px para 57.6px */
    font-weight: bold;
  }
  
  .info p {
    font-size: 42.8px; /* Aumentado de 28px para 44.8px */
  }
  .info h3 {
    font-size: 40.8px; /* Aumentado de 28px para 44.8px */
  }

  .image-container {
    display: flex; /* Define um contêiner flex para os elementos */
    align-items: center; /* Alinha os elementos verticalmente */
}

.image-container img {
  width: 80px;
  height: 80px;
  margin-right: 10px; /* Espaçamento entre as imagens */
}

